body{
    background-color: #efefef;
}

.main {
    margin: 30px;
    background-color: white;
}

.up_button {
    float: right;
    margin-bottom: 15px;
}

.account-image-size{
    width: 40px;
    height: 40px;
}

.question-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.pageNumber{
    float: right;
}

.smallfontstyle{
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
    cursor: pointer;
    color: #155faa;
}
.big-font-style{
    font-size: 15px;
    color: #999;
}
.modify-detailde-pen{
    font-size: 13px;
    color: #999;
}
.jumbotron{
    margin: 60px;
}
.comment_style{
    margin: 20px;
}
.comment_input_right{
    float: right;
}
.give_up{
    margin: auto auto auto 100px;
}
.tag_length{
    margin-left: 6px;
}
.like-tag-question{
    font-family: STSong;
    font-size: 15px;
}
.view-max-question{
    font-family: STSong;
    font-size: 18px;
}
.profile-padding{
    padding: 25px 25px 25px 25px;
}