<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title th:text="${sactionName}"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/community.css">
</head>
<body>
<nav th:insert="~{head :: nav}"></nav>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 profile-padding">
             <nav th:if="${saction == 'question' }" th:insert="~{myQuestion :: question}"></nav>
             <nav th:if="${saction == 'repies' }" th:insert="~{myNotice :: notice}"></nav>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <br>
            <div class="list-group">
                <a href="/profile/question" th:class="${saction == 'question' }?'active list-group-item' : 'list-group-item' ">
                    <span class="badge"  th:text="${count}"></span>
                    我的问题
                </a><br>
                <a href="/profile/repies" th:class="${saction == 'repies' }?'active list-group-item' : 'list-group-item' ">
                    <span class="badge" th:text="${noticeCount}"></span>
                    我的回复
                </a><br>
<!--                <a href="#" class="list-group-item">Porta ac consectetur ac</a><br>-->
<!--                <a href="#" class="list-group-item">Vestibulum at eros</a>-->
            </div>
        </div>
    </div>
</div>
</body>
</html>