<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title th:text="${sactionName}"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/community.css">
</head>
<body>
<nav th:insert="~{head :: nav}"></nav>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-th-list" aria-hidden="true" th:text="${sactionName}"></span></h2>
            <div class="media" th:each="questiondto : ${pagedto.pages}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounde account-image-size" th:src="${questiondto.user.image_url}" >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${questiondto.question.title}"></h4>
                    <span th:text="${questiondto.question.description}"></span><br/>


                    <span class="account-image-size">
                        作者：<span th:text="${questiondto.user.name}"></span> •
                        <span th:text="${questiondto.question.comment_count}"></span> 评论 •
                        <span th:text="${questiondto.question.view_count}"></span> 预览 •
                        <span th:text="${#dates.format(questiondto.question.create_time,'yyyy-MMMM-dd HH:mm')}"></span>
                    </span>
                    <hr>
                </div>
            </div>
            <nav aria-label="Page navigation" class="pageNumber">
                <ul class="pagination">
                    <li th:if="${pagedto.firstPage}">
                        <a href="/profile/question/?page=1" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagedto.perviousPage}">
                        <a th:href="@{/profile/question/(page=${pagedto.index-1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page:${pagedto.list}" th:class="${pagedto.index == page}? 'active':'' ">
                        <a th:href="@{/profile/question/(page=${page})}" th:text="${page}"></a>
                    </li>

                    <li th:if="${pagedto.nextPage}">
                        <a th:href="@{/profile/question/(page=${pagedto.index+1})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>

                    <li th:if="${pagedto.lastPage}">
                        <a th:href="@{/profile/question/(page=${pagedto.count})}" aria-label="Next">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <br>
            <div class="list-group">
                <a href="/profile/question" th:class="${saction == 'question' }?'active list-group-item' : 'list-group-item' ">
                    <span class="badge"  th:text="${count}"></span>
                    我的问题
                </a><br>
                <a href="/profile/repies" th:class="${saction == 'repies' }?'active list-group-item' : 'list-group-item' ">
                    <span class="badge">5</span>
                    我的回复
                </a><br>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a><br>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>