<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:for="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title th:text="${questiondto.question.title}"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/community.css">
</head>
<body>
<nav th:insert="~{head :: nav}"></nav>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <br>
            <h3 th:text="${questiondto.question.title}"></h3>
            <br>
            <span class="smallfontstyle">
                        作者：
                        <span th:text="${questiondto.user.name}"></span>   |
                        发布时间：
                        <span th:text="${#dates.format(questiondto.question.createTime,'yyyy-MM-dd')}"></span>   |
                        预览次数：
                        <span th:text="${questiondto.question.viewCount}"></span>
            </span>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${questiondto.question.description}"></div>
            <hr>
            <hr>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a class="modify-detailde-pen"> 时间: <span class="modify-detailde-pen"
                                                          th:text="${#dates.format(questiondto.question.createTime,'yyyy-MM-dd')}"> </span>
                    </a>
                <a class="modify-detailde-pen" th:href="@{'/updatequestion/'+ ${questiondto.question.id} }" th:if="${session.user!=null && questiondto.user.getAccountId()==session.user.getAccountId()}">
                    | <span class="glyphicon glyphicon-pencil modify-detailde-pen" aria-hidden="true"></span>
                    编辑
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <br>
                <br>
                <h4>发起人</h4>
                <hr/>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle account-image-size" th:src="${questiondto.user.imageUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading big-font-style">
                            <a href="#">
                                <span th:text="${questiondto.user.name}"></span>
                            </a>
                        </h4>
                    </div>
                </div>
                <hr>
                <h4>热门问题</h4>
            </div>
        </div>
    </div>
</div>
</body>
</html>