<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:for="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title th:text="${questiondto.question.title}"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/comment.js" type="application/javascript"></script>
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/community.css">
</head>
<body>
<nav th:insert="~{head :: nav}"></nav>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <br>
            <h3 th:text="${questiondto.question.title}"></h3>
            <br>
            <span class="smallfontstyle">
                        作者：
                        <span th:text="${questiondto.user.name}"></span>   |
                        发布时间：
                        <span th:text="${#dates.format(questiondto.question.createTime,'yyyy-MM-dd')}"></span>   |
                        预览次数：
                        <span th:text="${questiondto.question.viewCount}"></span> |
                        评论次数：
                        <span th:text="${questiondto.question.commentCount}"></span> |
                        点赞次数：
                        <span th:text="${questiondto.question.likeCount}"></span> |
            </span>
            <a th:if="${session.user == null}" onclick="questionGiveUp(name,'0')" id="comment" th:name="${questiondto.question.id}">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            </a>
            <a th:if="${session.user != null}" onclick="questionGiveUp(name,title)" id="comment1"  th:title="${session.user.getAccountId()}" th:name="${questiondto.question.id}">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            </a>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${questiondto.question.description}"></div>
            <hr>
            <hr>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a class="modify-detailde-pen"> 时间: <span class="modify-detailde-pen"
                                                          th:text="${#dates.format(questiondto.question.createTime,'yyyy-MM-dd')}"> </span>
                    </a>
                <a class="modify-detailde-pen" th:href="@{'/updatequestion/'+ ${questiondto.question.id} }" th:if="${session.user!=null && questiondto.user.getAccountId()==session.user.getAccountId()}">
                    | <span class="glyphicon glyphicon-pencil modify-detailde-pen" aria-hidden="true"></span>
                    编辑  |
                </a>
                <h4><span class="label label-info tag_length" th:each="tag:${questiondto.question.tag.split(',')}">
                    <span class=" glyphicon glyphicon-tags"></span>
                    <span class="label label-info" th:text="${tag}"></span>
                    </span>
                </h4>
            </div>
            <hr>
            <hr>
            <div id="AllComment">
                <hr><hr>
                <span class="h5"><span></span>
                  <span class="h5" th:text="${questiondto.question.commentCount}"></span>个评论
                </span>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment_style" th:each="visitCommentDto : ${visitCommentDtos}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounde account-image-size" th:src="${visitCommentDto.getCommentDto().getUser().imageUrl}" >
                        </a>
                    </div>
                    <div class="media-body" id="replayone">
                        <input type="hidden" id="replay_User_Name" th:value="${visitCommentDto.commentDto.getUser().name}">
                        <input type="hidden" id="replay_User_id" th:value="${visitCommentDto.commentDto.getComment().id}">
                        <a onclick="replay(id,name)" th:id="${visitCommentDto.commentDto.getComment().id}"
                           th:name="${visitCommentDto.commentDto.getUser().name}" class="comment_input_right smallfontstyle">
                            <span class="glyphicon glyphicon-comment comment_input_right" aria-hidden="true"></span>
                        </a>
                        <label class="comment_input_right">~~~~~~</label>
                        <a th:if="${session.user==null}" onclick="comment1GiveUp('0',name)" th:name="${visitCommentDto.commentDto.getComment().id}"
                            class="comment_input_right smallfontstyle">
                            <span class="glyphicon glyphicon-thumbs-up comment_input_right" aria-hidden="true"></span>
                        </a>
                        <a th:if="${session.user!=null}" onclick="comment1GiveUp(id,name)" th:id="${session.user.getAccountId()}" th:name="${visitCommentDto.commentDto.getComment().id}"
                           class="comment_input_right smallfontstyle">
                            <span class="glyphicon glyphicon-thumbs-up comment_input_right" aria-hidden="true"></span>
                        </a>
                        <span class="account-image-size smallfontstyle">
                        <span id='visitCommentDto' name='visitCommentDto' th:text="${visitCommentDto.commentDto.getUser().name}"></span> @
                        <span th:text="${visitCommentDto.commentDto.getReplyUser().name}"></span> ||
                         时间:
                        <span th:text="${#dates.format(visitCommentDto.commentDto.comment.createTime,'yyyy-MM-dd HH:mm')}"></span> ||
                          获赞数：
                                   <span th:text="${visitCommentDto.commentDto.getComment().likeCount}">
                        </span>
                        <br>
                        <span th:text="${visitCommentDto.commentDto.comment.getCommentText()}"></span><br/>
                        <div th:id="${visitCommentDto.commentDto.getComment().id}" class="col-lg-11 col-md-11 col-sm-11 col-xs-11 comment_style" style="display: none;" th:each="commentDto :${visitCommentDto.commentDtos}">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-rounde account-image-size" th:src="${commentDto.user.imageUrl}" >
                                </a>
                            </div>
                            <div class="media-body" id="replaytwo">
                                <input type="hidden" id="replay_User_Name1" th:value="${visitCommentDto.commentDto.getUser().name}">
                                <input type="hidden" id="replay_User_id1" th:value="${commentDto.getComment().id}">
                                <a onclick="replay1(id,title,name)" th:id="${commentDto.getComment().id}" th:title="${visitCommentDto.commentDto.getComment().id}"
                                   th:name="${commentDto.getUser().name}" class="comment_input_right smallfontstyle">回复</a>
                                <label class="comment_input_right">~~~~~~</label>
                                <a th:if="${session.user==null}" onclick="comment1GiveUp('0',name)" th:name="${commentDto.getComment().id}"
                                   class="comment_input_right smallfontstyle">
                                   <span class="glyphicon glyphicon-thumbs-up comment_input_right" aria-hidden="true"></span>
                                </a>
                                <a th:if="${session.user!=null}" onclick="comment1GiveUp(id,name)" th:id="${session.user.getAccountId()}" th:name="${commentDto.getComment().id}"
                                   class="comment_input_right smallfontstyle">
                                   <span class="glyphicon glyphicon-thumbs-up comment_input_right" aria-hidden="true"></span>
                                </a>
                                <span class="account-image-size smallfontstyle">
                           <span th:text="${commentDto.getUser().name}"></span> @
                           <span th:text="${commentDto.getReplyUser().name}"></span>  ||
                           时间:
                           <span th:text="${#dates.format(commentDto.comment.createTime,'yyyy-MM-dd HH:mm')}"></span>  ||
                           获赞数：
                                   <span th:text="${commentDto.getComment().likeCount}"></span>
                           </span></br>
                                <span th:text="${commentDto.comment.getCommentText()}"></span><br/>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
     <input type="hidden" id="question_id" th:value="${questiondto.question.id}"/>
                <input type="hidden" id="commentor" th:value="${session.user.getAccountId()}" th:if="${session.user!=null}">
                <input type="hidden" id="parent_id" th:value="0">
                <input type="hidden" id="type_id" th:value="0">
                <div class="form-group">
                  <label for="comment_text">评论内容:</label>
                    <label id="replay_name" text=""></label>
                  <textarea id="comment_text" class="form-control" cols="30" rows="10"></textarea>
                </div>
                <button onclick="replayALl()" ata-dismiss="alert" class="btn btn-success up_button">评论</button>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <br>
                <br>
                <h4>发起人</h4>
                <hr/>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle account-image-size" th:src="${questiondto.user.imageUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading big-font-style">
                            <a href="#">
                                <span th:text="${questiondto.user.name}"></span>
                            </a>
                        </h4>
                    </div>
                </div>
                <hr>
                <h4>热门问题</h4>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:each="likequestion:${questionsLike}">
                <li th:if="${questiondto.question.id!=likequestion.id}"><a class="like-tag-question" th:if="${questiondto.question.id!=likequestion.id}" th:href="@{'/question/'+ ${likequestion.getId()}}" th:text="${likequestion.getTitle()}"></a></li>
            </div>
        </div>
    </div>
</div>
</body>
</html>