<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:for="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>更新 - 问题</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/community.css">
</head>
<body>
<nav th:insert="~{head :: nav}"></nav>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>更新</h2>
            <hr>
            <form action="updatequestion.html" th:attr="action=@{'/updatequestion/' + ${id}}" method="post">
                <div class="form-group">
                    <label for="title">标题</label>
                    <input type="text" th:value="${title}" class="form-control" id="title" name="title" placeholder="问题标题...">
                </div>
                <div class="form-group">
                    <label for="description">问题补充(必填，可参考右侧提示):</label>
                    <textarea name="description" id="description" th:text="${description}" class="form-control" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <input type="text" class="form-control" id="tag" name="tag" th:value="${tag}" placeholder="输入标签，以，号隔开">
                </div>

                <span class="alert alert-danger" th:text="${error1}" th:if="${error1 != null}"></span>

                <button type="submit" ata-dismiss="alert" class="btn btn-success up_button">更新</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题更新指南</h3>
            <br/>
            -问题标题：概括问题内容，不超过25字
            <br/>
            -问题补充：问题内容的详尽信息
            <br/>
            -选择标签：选择问题的标签，用逗号分开，每个标签不超过10个字
            <br/>
        </div>
    </div>
</div>
</body>
</html>